
@{
    ViewData["Title"] = "SumarNumeros";
}

<h1>Sumar Numeros</h1>

<form method="post">
    <label>Numero1:</label>
    <input type="text" name="numero1" class="form-control" />
    <br />

    <label>Numero2:</label>
    <input type="text" name="numero2" class="form-control" />
    <br />

    <button type="submit" class="btn btn-info">Send Suma</button>
</form>

<h1 style="color:red">@ViewData["MENSAJE"]</h1>

