
@{
    ViewData["Title"] = "LogIn";
}

<h1>Log In</h1>


<form method="post">
    <label>Nombre:</label>
    <input type="text" name="nombre" class="form-control"/>
    <br/>

    <label>Apellidos:</label>
    <input type="text" name="apellidos" class="form-control"/>
    <br/>

    <button type="submit" class="btn btn-danger">Iniciar Sesion</button>
</form>
