@if (Context.User.Identity.IsAuthenticated)
{

    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Manage" asp-action="LogOut"><span style="color:red">@Context.User.Identity.Name</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Empleados" asp-action="Empleados">Cargar Empleados</a>
    </li>

}
else
{
    //ES UN EFECTO VISUAL PARA QUE VEA QUE ESTA PROTEGIDO Y DEBE LOGEARSE

    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Empleados" asp-action="Empleados">Cargar Empleados</a>
    </li>
}