@model VistaCuentas

@{
    ViewData["Title"] = "LogIn";
}

<h1>Log In</h1>

<form method="post">

    <label>Nombre: </label>
    <input type="text" name="username" class="form-control"/>
    <br/>

    <label>Password:</label>
    <input type="text" name="password" class="form-control"/>
    <br/>

    <button type="submit" class="btn btn-info">Validar</button>
</form>

@if (Model != null) {

    <h1>@Model.Nombre</h1>
    <h1>@Model.TipoCuenta</h1>
    <h1>@Model.Password</h1>
    <h1>@Model.CodigoCuenta</h1>
}



