@model VistaCuentas

@{
    ViewData["Title"] = "Perfil";
}

@if (Model != null)
{

    <h1>@Model.Nombre</h1>
    <h1>@Model.TipoCuenta</h1>
    <h1>@Model.Password</h1>
    <h1>@Model.CodigoCuenta</h1>
}
else { 

    <h2 style="color:red">Soy un nulo...</h2>
}

