@{
    ViewData["Title"] = "Home Page";
}

@section Scripts{ 

<script>

</script>

}

<div class="text-center">
    <h1 class="display-4">Api Hospital Cliente</h1>
    <button id="botonload" class="btn btn-info">Cargar hospitales</button>
    <table class="table table-info" id="tabla">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Direccion</th>
                <th>Telefono</th>
                <th>Camas</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
