@{
    ViewData["Title"] = "Home Page";
}

@section Scripts{ 
<script>
    $(document).ready(function () {
        $("#botonload").click(function () {

            var url = "https://apihospitales2022maem.azurewebsites.net/api/hospitales";

            $.ajax({
                url: url,
                method: "GET",
                dataType: "json",
                success: function (data) {

                    var html = "";

                    $.each(data, function (index,hospital) {

                        html += "<tr>";
                        html += "<td>" + hospital.idHospital + "</td>";
                        html += "<td>" + hospital.nombre + "</td>";
                        html += "<td>" + hospital.direccion + "</td>";
                        html += "<td>" + hospital.camas + "</td>";
                        html += "</tr>";
                    });

                    $("#tabla tbody").html(html);
                }
            });
        });
    });
</script>
}

<div class="text-center">
    <h1 class="display-4">Api Hospital Cliente</h1>
    <button id="botonload" class="btn btn-info">Cargar hospitales</button>
    <table class="table table-info" id="tabla">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Direccion</th>
                <th>Telefono</th>
                <th>Camas</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
